@import url("https://rsms.me/inter/inter.css");

*,
::after,
::before {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
}
.font-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.selectContainer {
  display: inline-block;
  width: 100%;
}
.selectStyle {
  display: flex;
  align-items: center;
  height: 32px;
  width: 80%;
  border-radius: 4px;
  border: solid 1px #333333;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
}
.selectStyle_click {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #2773ff;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
  
}
.textcontainer{
  width: 80%;
  padding-right: 8px;
}
.item2 {
  width:20%;
  position: relative;
  text-align: right;
  padding-right: 12px;
}
.item2 img{
  width: 12px;
  height: 12px;
}

.selectedTxt {
  composes: font-inter;
  color: #333333;
  padding: 10px 8px 6px 12px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;   
  width: calc(100%);
  display:inline-block
}
.selectDropdown {
  user-select: none;
  margin-top: 4px;
  overflow-y: auto;
  max-height: 140px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  z-index: 2;
  position: absolute;
}
.dropdownList {
  composes: font-inter;
  height: 28px;
  display: block;
  padding: 5px 0 5px 8px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.selectDropdown::-webkit-scrollbar {
  width: 0 !important;
}
.dropdownList:hover {
  display: block;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-top: 5px;
}
.optionStyle {
  background: #f4f5f6;
}
