@import url('https://rsms.me/inter/inter.css');
*,
::after,
::before {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
}

.lineBreak {
  padding: 0px;
  margin: 0px;
}
.font-inter {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.nxtNforw {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  left: 4%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}
.nxtNforw:hover{
  background-color: #f7f7f7;
  border-radius: 50%;
}
.nxtNforw:active{
  background-color: #DAF4FF;
  border-radius: 50%;
}

.nxtNprev {
  position: relative;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  left: -4%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}
.nxtNprev:hover{
  background-color: #f7f7f7;
  border-radius: 50%;
}
.nxtNprev:active{
  background-color: #DAF4FF;
  border-radius: 50%;
}

.dym {
  text-align: center;
  padding: 6px 5px;
  font-size: 0.944rem;
  line-height: 1.42857143;
}
.hdrCont_type1 {
  display: flex;
  margin: 0 0 8px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  color: black;
}
.hdrCont_type2 {
  background-color: black;
  color: white;
}
.monthParent{
  margin:0.4rem;
  text-align: center;
}
.divHeader {
  display: flex;
  justify-content: space-between;
  align-items:flex-start ;
}
.parentdivHeader{
  border-bottom: 1px solid #aeaeae;
  padding-top: 8px;
  border-top-left-radius: 0.3rem;
border-top-right-radius: 0.3rem;
line-height: 1.42857143;
background-color: #f0f0f0;
}
.type2 {
  visibility: hidden;
}

.internal_day_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 1.42857143;
  white-space: nowrap;
  font-size: 0.8rem;
  margin:0px 4px
  
}
.mainCont {
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  background-color: white;
  line-height: 1.42857143;
  display: inline-block;
}
.w100 {
  display: flex;
  flex-direction: row;
  line-height: 1.42857143;
  justify-content: space-between;
  
}

.emptyDate {
  composes: font-inter;
  font-size: 0.8rem;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
  user-select: none;
}
.date {
  composes: font-inter;
  font-size: 0.8rem;
  text-align: center;
  flex: 1;
  user-select: none;
  width: 1.7rem;
line-height: 1.7rem;
margin: 0.166rem;
}
.date:hover span {
  padding: 15% 15%;
  border-radius: 4px;
  cursor: pointer;
  background-color: #DAF4FF;
}
.date_highlight {
  composes: font-inter;
  font-size: 0.8rem;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
}
.date_highlight span {
  background-color: #005397;
  padding: 15% 16%;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.current_date_highlight {
  composes: font-inter;
  font-size: 0.8rem;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
}
.current_date_highlight span {
  padding: 15% 16%;
  border-radius: 4px;
  cursor: pointer;
  background-color: #cccbcb;
}

.dateSelected {
  background-color: #275191;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.days {
  composes: font-inter;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.43;
  text-align: center;
  flex: 1;
  margin: 0.166rem;
  user-select: none;
  margin: 0.166rem;
  width: 1.7rem;
  
}
.propHeader,
.props {
  display: flex;
}
.props span {
  flex: 1;
  border-bottom: 1px solid #e2e9f1;
  padding: 15px 20px;
  text-transform: capitalize;
  font-size: 14px;
}
.propHeader span {
  flex: 1;
  border-bottom: 1px solid #e2e9f1;
  padding: 15px 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  background-color: aliceblue;
}
.propContainer {
  border: 1px solid #e2e9f1;
  border-radius: 4px;
  margin-bottom: 50px;
  border-bottom: 0;
  overflow: hidden;
}
