@import url("https://rsms.me/inter/inter.css");
*,*::after,*::before,*:active{
  outline: none;
  box-sizing: border-box;
}
.font-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.small {
  font-size: 14px;
  border-radius: 4px;
  height: 24px;
  padding: 0px 12px;

}
.medium {
  padding: 0px 12px;
  font-size: 14px;
  height: 32px;
  border-radius: 4px;
}
.large {
  padding: 0px 12px;
  font-size: 14px;
  height: 40px;
  border-radius: 4px;
}
.button {
  composes: font-inter;
  display: inline-block;
  outline: none;
  color: #fff;
  
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-icons{
  display: inline-block;
}
.input-icons i {
  cursor: pointer;
}

.icon_right {
  position: relative;
  width: 18px;
  height: 18px;
  left:8px;
  top:3px;
  padding-right: 8px;
}
.icon_left {
  position: relative;
  width: 18px;
  height: 18px;
  right:8px;
  top:3px;
  padding-left: 8px;
}
.icon-small-left {
  composes: icon_left;
}
.icon-small-right {
  composes: icon_right;
}
.icon-large-left {
  composes: icon_left;
}

.icon-large-right {
  composes: icon_right;
}

.primary {
  composes: button;
  color: #ffffff;
  background-color: #2773ff;
}
.primary:hover {
  background-color: #2368e6;
}

.primaryicon {
  composes: button;
  color: #ffffff;
  background-color: #2773ff;
  text-align: right;
 
}

.primaryicon:hover {
  background-color: #2368e6;
}

.secondaryicon{
  composes: button;
  color: #000000;
  background-color: #ffffff;
  border: solid 1px #ededed;
  
}
.secondaryicon:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.secondary {
  composes: button;
  color: #000000;
  background-color: #ffffff;
  border: solid 1px #ededed;
}
.secondary:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.disabled_primary {
  composes: button;
  background-color: #2773ff;
  color: #ffffff;
  opacity: 0.3;
  cursor: not-allowed;
}
.disabled_icon_primary {
  composes: button;
  background-color: #2773ff;
  color: #ffffff;
  opacity: 0.3;
  cursor: not-allowed;
 
}
.disabled_secondary {
  composes: button;
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  color: #e4e4e4;
  cursor: not-allowed;
}

.disabled_icon_secondary {
  composes: button;
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  color: #e4e4e4;
  cursor: not-allowed;
  text-align: right;
  width: 89px;
}
.display-none {
  display: none;
}
