@import url("https://rsms.me/inter/inter.css");
.font-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.radio-group{
  width: fit-content;
}
.radio-button {
  composes: font-inter;
  display: block;
  position: relative;
  padding:1px 0px 0px 28px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:4px;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-button__checkmark {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover .radio-button__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .radio-button__checkmark {
  background-color: #2773ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .radio-button__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .radio-button__checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
