@import url("https://rsms.me/inter/inter.css");
.font-inter {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.droplist {
  display: inline-block;
  padding: 0px 12px 9px 12px;
  color: black;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
}
.droplist:hover {
  background-color:#f0f0f0;
}
.droplist:focus {
  border: solid 1px #749be2;
}
.droplist__menu {
  display: inline-flex;
  flex-direction: column;
  position:absolute;
  background: white;
  box-shadow: 0 20px 32px -8px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  z-index: 2;
  border-radius: 4px;
}
.droplist__menuitems {
  composes: font-inter;
  padding: 6px 10px;
}
.droplist__menuitems:hover {
  background: #f0f0f0;
}
