@import url('https://rsms.me/inter/inter.css');
*,
::after,
::before {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
}
.font-inter {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.calendar {
  padding: 10px 0px;
  background-color: white;
}
.calendar__linebreak {
  padding: 0px;
  margin: 0px;
  opacity: 0.3;
}

.header__backwardicon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  left: 4%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}
.header__backwardicon:hover{
  background-color: #f7f7f7;
  border-radius: 50%;
}
.header__backwardicon:active{
  background-color: #DAF4FF;
  border-radius: 50%;
}

.header__forwardicon {
  position: relative;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  left: -4%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}
.header__forwardicon:hover{
  background-color: #f7f7f7;
  border-radius: 50%;
}
.header__forwardicon:active{
  background-color: #DAF4FF;
  border-radius: 50%;
}

.header__yearmonth {
  text-align: center;
  padding: 6px 5px;
}
.hdrCont_type1 {
  display: flex;
  margin: 0 0 8px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  color: black;
}
.hdrCont_type2 {
  background-color: black;
  color: white;
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items:flex-start ;
}

.header__week {
  display: flex;
  justify-content: space-between;
}
.week__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar__bodyrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.bodyrow__emptydate {
  composes: font-inter;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
  user-select: none;
}
.bodyrow__date {
  composes: font-inter;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
  user-select: none;
}
.bodyrow__date:hover span {
  padding: 15% 16%;
  border-radius: 4px;
  cursor: pointer;
  background-color: #DAF4FF;
}
.bodyrow__date--highlight {
  composes: font-inter;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
}
.bodyrow__date--highlight span {
  background-color: #005397;
  padding: 15% 16%;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.bodyrow__currentdate--highlight {
  composes: font-inter;
  text-align: center;
  flex: 1;
  padding: 3% 0;
  margin: 0px 3px;
}
.bodyrow__currentdate--highlight span {
  padding: 15% 16%;
  border-radius: 4px;
  cursor: pointer;
  background-color: #cccbcb;
}

.dateSelected {
  background-color: #275191;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.week_row_days {
  composes: font-inter;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  flex: 1;
  padding: 6px 0;
  user-select: none;
}
