@import url("https://rsms.me/inter/inter.css");

.font-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.check-box{
  width: fit-content;
}
.check-box__each {
  composes: font-inter;
  width: fit-content;
  display: block;
  position: relative;
  width: fit-content;
  padding:2px 0px 0px 28px;
  margin:0px 0px 4px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.check-box__each input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check-box__checkmark {
  position: absolute;
  top: 3px;
  left: 4px;
  height: 16px;
  width: 16px;
  background-color: #eee;
  
}

/* On mouse-over, add a grey background color */
.check-box__checkmark:hover {
  background-color: #ccc;
  
}

/* When the checkbox is checked, add a blue background */
.check-box__each input:checked ~ .check-box__checkmark  {
  background-color: #2773ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-box__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box__each input:checked ~ .check-box__checkmark:after {
  display: block;
 
}

/* Style the checkmark/indicator */
.check-box__each .check-box__checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
