tbody {
  display: block;
  height: 150px;
  overflow: scroll;
  overflow-x:hidden ;
}
thead,
tbody tr {
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
}
th {
  border-bottom: 1px solid black;
}
tbody::-webkit-scrollbar {
  width: 0 !important;
}
thead.active {
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.table_option {
  display: flex;
  align-items: center;
}
.option__add-modal {
  width: auto;
  height: auto;
  padding:40px;
  background-color: rgb(211, 206, 206);
  z-index: 2;
  position: absolute;
  top:45px;
  left:350px;
}
.option__add-modalbutton{
  display: flex;
  align-items: center;
  justify-content: center;
}
