@import url("https://rsms.me/inter/inter.css");
.font-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
*{
  box-sizing: border-box;
}
.selectContainer {
  display: inline-block;
}
.selectStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 32px;
  height: min-content;
  border-radius: 4px;
  border: solid 1px #333333;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
}
.selectStyle_click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 32px;
  height: min-content;
  border-radius: 4px;
  border: 1px solid #2773ff;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.item2 {
  position: absolute;
  left:320px;
}
.inputContainer{
  margin:2px 5px;
}
.selectedTxt {
  composes: font-inter;
  color: #333333;
  line-break: auto;
  display: inline-block;
  padding: 2px 0px;

}
.selectDropdown {
  user-select: none;
  margin-top: 4px;
  overflow-y: auto;
  width: 300px;
  max-height: 140px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  z-index: 2;
  position: absolute;
}
.dropdownList {
  composes: font-inter;
  height: min-content;
  display: block;
  padding: 5px 0 5px 8px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.selectDropdown::-webkit-scrollbar {
  width: 0 !important;
}
.dropdownList:hover {
  display: block;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-top: 5px;
  height: min-content;
}
.optionStyle {
  background: #f4f5f6;
}
.avatar{
    height: 24px;
    width: 24px;
    position: relative;
    top:4px;
    margin-right: 15px;
}
.singleUserpicker{
  display: inline-block;
}